In [1]:
import pandas as pd 
import numpy as np

In [2]:
dados = pd.read_csv('WorldPopulation.csv')

In [3]:
dados

    Year  Population  ChangePerc  NetChange  Density       Urban  UrbanPerc
0   2020  7794798739        1.05   81330639       52  4378993944         56
1   2019  7713468100        1.08   82377060       52  4299438618         56
2   2018  7631091040        1.10   83232115       51  4219817318         55
3   2017  7547858925        1.12   83836876       51  4140188594         55
4   2016  7464022049        1.14   84224910       50  4060652683         54
..   ...         ...         ...        ...      ...         ...        ...
65  1955  2773019936        1.77   48173195       19   877008842         32
66  1954  2724846741        1.76   47237781       18   850179106         31
67  1953  2677608960        1.78   46747398       18   824289989         31
68  1952  2630861562        1.81   46827301       18   799282533         30
69  1951  2584034261        1.88   47603112       17   775067697         30

[70 rows x 7 columns]

In [4]:
type(dados)

pandas.core.frame.DataFrame

In [5]:
dados.index

RangeIndex(start=0, stop=70, step=1)

In [6]:
dados.columns

Index(['Year', 'Population', 'ChangePerc', 'NetChange', 'Density', 'Urban',
       'UrbanPerc'],
      dtype='object')

In [11]:
dados['Year']

0     2020
1     2019
2     2018
3     2017
4     2016
      ...
65    1955
66    1954
67    1953
68    1952
69    1951
Name: Year, Length: 70, dtype: int64

In [14]:
dados.head(8)

   Year  Population  ChangePerc  NetChange  Density       Urban  UrbanPerc
0  2020  7794798739        1.05   81330639       52  4378993944         56
1  2019  7713468100        1.08   82377060       52  4299438618         56
2  2018  7631091040        1.10   83232115       51  4219817318         55
3  2017  7547858925        1.12   83836876       51  4140188594         55
4  2016  7464022049        1.14   84224910       50  4060652683         54
5  2015  7379797139        1.16   84506374       50  3981497663         54
6  2014  7295290765        1.17   84708789       49  3902831934         53
7  2013  7210581976        1.19   84753917       48  3824990329         53

In [16]:
dados.tail(10)

    Year  Population  ChangePerc  NetChange  Density       Urban  UrbanPerc
60  1960  3034949748        1.86   55373563       20  1023845517         34
61  1959  2979576185        1.84   53889480       20   992820546         33
62  1958  2925686705        1.82   52380615       20   962537113         33
63  1957  2873306090        1.80   50862808       19   933113168         32
64  1956  2822443282        1.78   49423346       19   904685164         32
65  1955  2773019936        1.77   48173195       19   877008842         32
66  1954  2724846741        1.76   47237781       18   850179106         31
67  1953  2677608960        1.78   46747398       18   824289989         31
68  1952  2630861562        1.81   46827301       18   799282533         30
69  1951  2584034261        1.88   47603112       17   775067697         30

In [17]:
dados.columns

Index(['Year', 'Population', 'ChangePerc', 'NetChange', 'Density', 'Urban',
       'UrbanPerc'],
      dtype='object')

In [23]:
dados2 = dados[['Year', 'Population', 'ChangePerc', 'NetChange', 'Density']]

In [24]:
dados2.head()

   Year  Population  ChangePerc  NetChange  Density
0  2020  7794798739        1.05   81330639       52
1  2019  7713468100        1.08   82377060       52
2  2018  7631091040        1.10   83232115       51
3  2017  7547858925        1.12   83836876       51
4  2016  7464022049        1.14   84224910       50

In [25]:
dados2.to_csv('dadospopulacaomundial.csv',index = False)

In [26]:
dados2 = pd.read_csv('dadospopulacaomundial.csv')
dados2.head()

   Year  Population  ChangePerc  NetChange  Density
0  2020  7794798739        1.05   81330639       52
1  2019  7713468100        1.08   82377060       52
2  2018  7631091040        1.10   83232115       51
3  2017  7547858925        1.12   83836876       51
4  2016  7464022049        1.14   84224910       50